testpimp/e2e-tests/testFiles/ADPEnterprise.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.workday.com/integration/ADPEnterprise"
	xmlns:tns="http://www.workday.com/integration/ADPEnterprise" xmlns:ts="http://schemas.capeclear.com/2003/02/TextSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" ts:rootElement="tns:File"
	ts:dateFormat="MMddyyyy" elementFormDefault="qualified">
	<xsd:element name="File">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:Header" />
				<xsd:element name="Employees">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="tns:Employee" minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="tns:Trailer" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Header" ts:endTag="\r\n" ts:startTag="HD\|">
		<xsd:complexType>
			<xsd:sequence ts:separator="\|">
				<xsd:element name="Company_Name" type="xsd:string"
					ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
				<xsd:element name="Filename" type="xsd:string"
					ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
				<xsd:element name="Timestamp" type="xsd:string"
					ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
				<xsd:element name="File_Type" type="xsd:string"
					ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Employee" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Job" ts:startTag="01\|" ts:endTag="\r\n" minOccurs="0" ts:inc="job">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|" >
							<xsd:element name="Employee_ID" type="xsd:string" 
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Effective_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Effective_Sequence" type="xsd:integer"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Employee_Record_Number" type="xsd:integer"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Department_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Job_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Employment_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Action" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Action_Reason" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Location" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Shift" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Regular_or_Temporary" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Full_Time_or_Part_Time" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="FLSA_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="X"></xsd:element>
							<xsd:element name="Officer_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="N"></xsd:element>
							<xsd:element name="Company" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Pay_Group" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Employment_Type" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Holiday_Schedule" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Standard_Hours" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="EEO_Class" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Employment_Class" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Account_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Compensation_Frequency" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Compensation_Rate" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Annual_Rate" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Annual_Benefit_Compensation_Rate"
								type="xsd:decimal" ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="AL_Employement_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="AL_Pay_Frequency" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="AL_Standard_Hours" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Clock_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Data_Control" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="File_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Gross_Calc" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Home_Department" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Home_Job_Cost_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Hourly_Rate_1" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Hourly_Rate_2" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Rate_1" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Rate_Type" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Reporting_Location" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Title" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Pay_Group_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Workers_Compensation_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Primary_Job" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="Y"></xsd:element>
							<xsd:element name="Report_To_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Union_CD" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Union_Seniority_DT" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Barg_Unit" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Barg_Seniority_Date" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Benefit_Program" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="BEN"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Personal" ts:endTag="\r\n"
					ts:startTag="02\|" ts:align="left" minOccurs="0" ts:inc="personal">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="First_Name" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Middle_Name" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Last_Name" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Name_Suffix" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Street_1" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Street_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="City" type="xsd:string" ts:format="[^\|\n]+"
								minOccurs="0"></xsd:element>
							<xsd:element name="State" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="ZIP" type="xsd:string" ts:format="[^\|\n]+"
								minOccurs="0"></xsd:element>
							<xsd:element name="Mailing_Street_1" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Mailing_Street_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Mailing_City" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Mailing_State" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Mailing_ZIP" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Original_Hire_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Ethnic_Group" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="7"></xsd:element>
							<xsd:element name="Sex" type="xsd:string" ts:format="[^\|\n]+"
								minOccurs="0"></xsd:element>
							<xsd:element name="Marital_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Birth_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Highly_Compensated_Flag" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Email_Address" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Home_Phone" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Work_Phone" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Fax_Phone" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Race_Ethnicity" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="9"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Employment" ts:endTag="\r\n"
					ts:startTag="03\|" ts:align="left" minOccurs="0" ts:inc="employment">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Employee_Record_Number" type="xsd:integer"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Hire_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Rehire_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Company_Seniority_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Service_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Termination_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Last_Date_Worked" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Supervisor_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Custom_Area_1" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Custom_Area_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Custom_Area_3" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Custom_Area_4" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Date_A" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Date_B" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Date_C" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Date_D" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_1" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_3" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_4" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_5" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_6" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Flag_7" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Tax" ts:endTag="\r\n" ts:startTag="04\|"
					minOccurs="0" maxOccurs="unbounded" ts:inc="tax">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Pay_Group" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="File_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Effective_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Federal_Marital_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Federal_Allowance" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Federal_Additional_Amount" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Federal_Additional_Percent" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Worked_In_State" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Lived_In_State" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Local_Tax_Code_1" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Local_Tax_Code_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="SUI_Tax_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="W4Tax" ts:endTag="\r\n" ts:startTag="05\|"
					minOccurs="0" maxOccurs="unbounded" ts:inc="w4tax">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Pay_Group" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="File_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Effective_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Worked_or_Lived_In_State" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Local_Tax_Code_1_or_2" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Marital_Status" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Exemptions" type="xsd:integer"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Additional_Tax_Amount" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Additional_Tax_Percent" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="General_Deduction" ts:endTag="\r\n"
					ts:startTag="06\|" maxOccurs="unbounded" minOccurs="0" ts:inc="deduction">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"  ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Start_Date" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="End_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Frequency" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Amount" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DirectDeposit" ts:endTag="\r\n"
					ts:startTag="07\|"  maxOccurs="unbounded" minOccurs="0" ts:inc="directdeposit">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Pay_Group" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="File_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Effective_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Deduction_Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Direct_Deposit_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Full_Deposit_Flag" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Transit_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Account_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Deposit_Amount" type="xsd:decimal"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Override_Prenote_Flag" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" default="Y"></xsd:element>
							<xsd:element name="Prenote_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Earning" ts:endTag="\r\n"
					ts:startTag="08\|" maxOccurs="unbounded" minOccurs="0" ts:inc="earning">
					<xsd:complexType>
						<xsd:sequence ts:separator="\|">
							<xsd:element name="Employee_ID" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0" ></xsd:element>
							<xsd:element name="Social_Security_Number" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Code" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Start_Date" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="End_Date" type="xsd:date"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Frequency" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
							<xsd:element name="Amount" type="xsd:string"
								ts:format="[^\|\n]+" minOccurs="0"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Trailer" ts:endTag="\r\n" ts:startTag="TR\|"
		ts:align="left">
		<xsd:complexType>
			<xsd:sequence ts:separator="\|">
				<xsd:element name="Job_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="job" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="Personal_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="personal" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="Employment_Data_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="employment" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="Tax_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="tax" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="W4_Tax_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="w4tax" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="General_Deduction_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0"  ts:override="deduction" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="Direct_Deposit_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" minOccurs="0" ts:override="directdeposit" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="Fifth_Field_Earning_Record_Count"
					type="xsd:decimal" ts:format="[^\|\n]+" minOccurs="0"  ts:override="earning" ts:numberFormat="00000"></xsd:element>
				<xsd:element name="HR_User_Data_Record_Count" type="xsd:decimal"
					ts:format="[^\|\n]+" ts:numberFormat="00000" minOccurs="0" default="0"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>